bower_components
node_modules
db/*
intermediate/*
release/*

# This file must be created by whoever uses the code; it will not be included in the repository for safety reasons
settings.coffee

# Don't ignore .gitignore files in the temporary folders
!db/.gitignore
!intermediate/.gitignore
!release/.gitignore
