<div>
    <h2>Change password</h2>

    <div class="alert alert-{{message.type}}" ng-if="message">
        <span class="alert-icon"></span>
        {{message.text}}
    </div>

    <form name="setPasswordForm">
        <div class="form-group">
            <label for="currentPasswordField">
                Current password
            </label>
            <input id="currentPasswordField" class="form-control" ng-model="password.current"
                   type="password" required name="current">
        </div>
        <div class="form-group">
            <label for="newPasswordField">
                New password
            </label>
            <input id="newPasswordField" class="form-control" ng-model="password.new" type="password" required
                   ng-minlength="minPassLength" name="new">
            <div class="help-block" ng-if="setPasswordForm.new.$touched && setPasswordForm.new.$dirty && setPasswordForm.new.$invalid">
                Passwords must be at least {{minPassLength}} characters long.
            </div>
        </div>
        <div class="form-group">
            <label for="newPasswordConfirmationField">
                New password (again)
            </label>
            <input id="newPasswordConfirmationField" class="form-control" ng-model="password.newConfirm" type="password"
                   required ng-minlength="minPassLength" name="newConfirm">
            <div class="help-block" ng-if="setPasswordForm.newConfirm.$touched && setPasswordForm.newConfirm.$dirty && setPasswordForm.newConfirm.$invalid">
                Passwords must be at least {{minPassLength}} characters long.
            </div>
            <div class="help-block" ng-if="setPasswordForm.newConfirm.$touched && password.new !== password.newConfirm">
                Passwords do not match!
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-disabled="setPasswordForm.$invalid || password.new !== password.newConfirm"
                    ng-click="submitPassword()">Change password</button>
        </div>
    </form>
</div>
