<div class="item-container" ng-class="{'item-qty-none': qty == 0}">
    <div class="item-icon"
         ng-mouseenter="prepareTooltipDisplay($event)"
         ng-mouseleave="displayTooltip = false">
        <img ng-src="{{item.icon || defaultIcon}}" ng-if="!item.missing">
        <img src="static/unknown-item.png" ng-if="item.missing">
        <span class="item-icon-qty" ng-if="qty > 1">{{qty}}</span>
        <span class="item-icon-qty" ng-if="item.type == 'Tool' && item.detailsObject.charges">{{item.detailsObject.charges}}</span>
    </div>
    <div class="item-tooltip" ng-class="{'item-tooltip-left': tooltipOnLeft}" ng-if="displayTooltip && !item.missing">
        <div class="item-icon">
            <img ng-src="{{item.icon || defaultIcon}}">
            <span class="item-icon-qty" ng-if="qty > 1">{{qty}}</span>
            <span class="item-icon-qty" ng-if="item.type == 'Tool' && item.detailsObject.charges">{{item.detailsObject.charges}}</span>
        </div>
        <div class="item-header">
            <div class="item-fact item-name rarity-{{item.rarity | lowercase}}">{{item.name}}</div>
            <div class="item-fact">{{item.rarity}}</div>
            <div ng-switch="item.type">
                <div ng-switch-when="Armor">
                    <div class="item-fact">{{item.detailsObject.weight_class}} {{item.detailsObject.type}}</div>
                </div>
                <div ng-switch-when="Weapon">
                    <div class="item-fact">{{item.detailsObject.type | weaponTypeName}}</div>
                </div>
                <div ng-switch-when="Back">
                    <div class="item-fact">Back item</div>
                </div>
                <div ng-switch-when="Trinket">
                    <div class="item-fact">{{item.detailsObject.type}}</div>
                </div>
                <div ng-switch-when="UpgradeComponent">
                    <div class="item-fact">
                        <span ng-if="item.detailsObject.type != 'Default'">{{item.detailsObject.type}}</span>
                        <span ng-if="item.detailsObject.type == 'Default'">Upgrade component</span>
                    </div>
                </div>
                <div ng-switch-when="Trophy">
                    <div class="item-fact">Trophy</div>
                </div>
                <div ng-switch-when="MiniPet">
                    <div class="item-fact">Miniature</div>
                </div>
                <div ng-switch-when="Bag">
                    <div class="item-fact">Bag</div>
                </div>
                <div ng-switch-when="CraftingMaterial">
                    <div class="item-fact">Crafting Material</div>
                </div>
            </div>
        </div>
        <div class="item-description">
            <div ng-switch="item.type">
                <div ng-switch-when="Armor">
                    <item-attr-data
                            upgrade="item.detailsObject.infix_upgrade"
                            defense="item.detailsObject.defense"
                            assume-stats-selectable="true">
                    </item-attr-data>
                </div>
                <div ng-switch-when="Back">
                    <item-attr-data
                            upgrade="item.detailsObject.infix_upgrade"
                            assume-stats-selectable="true">
                    </item-attr-data>
                </div>
                <div ng-switch-when="Bag">
                    <div class="item-fact">{{item.detailsObject.size}} slots</div>
                </div>
                <div ng-switch-when="Consumable">
                    <div class="item-fact" ng-if="item.detailsObject.duration_ms">
                        Duration: {{item.detailsObject.duration_ms | momentHumanize}}
                    </div>
                    <div class="item-fact" ng-bind-html="item.detailsObject.description"></div>
                </div>
                <div ng-switch-when="Trinket">
                    <item-attr-data
                            upgrade="item.detailsObject.infix_upgrade"
                            assume-stats-selectable="true">
                    </item-attr-data>
                </div>
                <div ng-switch-when="UpgradeComponent">
                    <div class="item-fact" ng-bind-html="item.detailsObject.infix_upgrade.buff.description"></div>
                </div>
                <div ng-switch-when="Weapon">
                    <item-attr-data
                            upgrade="item.detailsObject.infix_upgrade"
                            defense="item.detailsObject.defense"
                            min-power="item.detailsObject.min_power"
                            max-power="item.detailsObject.max_power"
                            assume-stats-selectable="true">
                    </item-attr-data>
                </div>
                <!--<div ng-switch-when="Container"></div>
                <div ng-switch-when="CraftingMaterial"></div>
                <div ng-switch-when="Gathering"></div>
                <div ng-switch-when="Gizmo"></div>
                <div ng-switch-when="MiniPet"></div>
                <div ng-switch-when="Tool"></div>
                <div ng-switch-when="Trait"></div>
                <div ng-switch-when="Trophy"></div>-->
            </div>

            <div class="item-fact" ng-bind-html="item.description"></div>
            <div class="item-fact" ng-if="item.level > 0">Required level: {{item.level}}</div>
            <div class="item-fact" ng-if="item.flags.indexOf('SoulbindOnAcquire') >= 0">Soulbound</div>
            <div class="item-fact" ng-if="item.flags.indexOf('SoulBindOnUse') >= 0 && item.flags.indexOf('SoulbindOnAcquire') < 0">Soulbound on Use</div>
            <div class="item-fact" ng-if="item.flags.indexOf('AccountBound') >= 0">Account Bound</div>
            <div class="item-fact" ng-if="item.flags.indexOf('AccountBindOnUse') >= 0 && item.flags.indexOf('AccountBindOnUse') < 0">Account Bound on Use</div>
            <div class="item-fact" ng-if="item.flags.indexOf('Unique') >= 0">Unique</div>
            <div class="item-fact" ng-if="item.restrictions.length > 0">
                Usable by: {{item.restrictions.join(', ')}}
            </div>

            <item-upgrade-data ng-repeat="upgrade in upgrades" item="itemDatabase[upgrade]"></item-upgrade-data>
        </div>
        <div class="item-footer">
            <span class="chatlink">{{item.chatLink}}</span>
            <span class="pull-right" ng-if="item.flags.indexOf('NoSell') < 0">
                <span-coin coin="item.vendorValue" mode="'gscbrief'"></span-coin>
                <span ng-if="qty > 1">&times; {{qty}} =</span>
                <span-coin ng-if="qty > 1" coin="item.vendorValue * qty" mode="'gscbrief'"></span-coin>
            </span>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="item-tooltip" ng-class="{'item-tooltip-left': tooltipOnLeft}" ng-if="displayTooltip && item.missing">
        <div class="item-icon">
            <img src="static/unknown-item.png">
            <span class="item-icon-qty" ng-if="qty > 1">{{qty}}</span>
            <span class="item-icon-qty" ng-if="item.type == 'Tool' && item.detailsObject.charges">{{item.detailsObject.charges}}</span>
        </div>
        <div class="item-header">
            <div class="item-fact item-name rarity-basic">Item #{{item.id | number}}</div>
        </div>
        <div class="item-description">
            <div class="item-fact">
                The details for this item are currently unknown. This item was most likely added to the game recently
                and thus is not yet available via the Guild Wars 2 API.
            </div>
        </div>
    </div>
</div>
