<div class="navbar navbar-default navbar-fixed-top" ng-controller="navbarController">
    <ul class="nav navbar-nav">
        <li><span class="navbar-brand">GW2 Hub</span></li>
        <li><a href="#" ui-sref="gallery">Gallery</a></li>
        <li><a href="#" ui-sref="characters.main">Characters</a></li>
        <li><a href="#" ui-sref="achievements.main">AP</a></li>
        <li><a href="#" ui-sref="dyes">Dyes</a></li>
        <li><a href="#" ui-sref="storage">Hoard</a></li>
        <li><a href="#" ui-sref="legendary">Meteorlogicus</a></li>
    </ul>

    <div class="navbar-right">
        <form class="navbar-form" name="loginForm" ng-if="user == null" novalidate>
            <div class="form-group">
                <input class="form-control input-sm" ng-model="credentials.email" required type="text" placeholder="E-mail">
                <input class="form-control input-sm" ng-model="credentials.pass" required type="password" placeholder="Password">
                <input type="submit" ng-hide="true" ng-click="login()">
            </div>
        </form>
        <ul class="nav navbar-nav" ng-if="user == null">
            <li>
                <a href="#" ng-click="login()" ng-disabled="loginForm.$invalid">Log in</a>
            </li>
        </ul>
        <ul class="nav navbar-nav" ng-if="user != null">
            <li>
                <span>Hello, {{user.name}} ({{user.email}})</span>
                <span>Ulevel={{user.ulevel}}</span>
            </li>
            <li>
                <a href="#" ng-click="logout()">Log out</a>
            </li>
        </ul>
    </div>

</div>
