<div class="modal-body">
    <div class="overlay-display">
        <img ng-src="{{src}}" ng-if="type == 'image'">
        <video ng-src="{{src}}" ng-if="type == 'movie'" controls="controls" autoplay="autoplay"></video>
    </div>
    <div class="overlay-data container-fluid">
        <a class="pull-right overlay-close" ng-click="$close()">&times;</a>
        <h3>
            <a href="" ng-click="openMain()">{{media.name}}</a>
        </h3>
        <div class="row">
            <div class="col-xs-3">Type</div>
            <div class="col-xs-9">{{type}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Created</div>
            <div class="col-xs-9">{{media.friendlyDate}}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Filesize</div>
            <div class="col-xs-9">{{media.size | filesize}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="" ng-click="openMain()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    More details
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="{{src}}" target="_blank">
                    <span class="glyphicon glyphicon-new-window"></span>
                    Open in new tab
                </a>
            </div>
        </div>
    </div>
</div>
