// Not an error if not located by the IDE, as it will be created at build time.
@import '../../intermediate/gw2hubicons.less';
@import 'icon-synonyms.less';

@import '../../bower_components/bootstrap/less/bootstrap.less';
@import (inline) '../../bower_components/angular-ui-select/dist/select.css';

@icon-font-path: "static/";
@input-border-focus: @bold-accent;
@input-border: @bold-accent-light;
@list-group-border: @bold-accent-light;
@list-group-active-bg: @bold-accent;
@list-group-active-color: @bold-accent-secondary;
@btn-default-border: @bold-accent-light;
@panel-default-border: @bold-accent-light;
@panel-default-heading-bg: @bold-accent;

@bold-accent: #9d1011;
@bold-accent-secondary: #ffffff;
@bold-accent-border: darken(@bold-accent, 10%);
@bold-accent-light: #ce7276;

@gold-color: #d3a222;
@silver-color: #8d8d8d;
@copper-color: #80211d;
@karma-color: #6e0ea0;

@human-color: #765d3c;
@norn-color: #6d849c;
@charr-color: #9c3f0b;
@sylvari-color: #295024;
@asura-color: #12608f;

@warrior-color: #df7740;
@guardian-color: #1b5563;
@revenant-color: #782827;
@thief-color: #575350;
@ranger-color: #748322;
@engineer-color: #be9043;
@mesmer-color: #922773;
@elementalist-color: #dc2237;
@necromancer-color: #2c6b4c;

@male-color: #24b492;
@female-color: #91b71a;

@rarity-junk-color: #b2b2b2;
@rarity-basic-color: #ffffff;
@rarity-fine-color: #93dce7;
@rarity-masterwork-color: #81e864;
@rarity-rare-color: #e7df1e;
@rarity-exotic-color: #dc8e0b;
@rarity-ascended-color: #ea86a4;
@rarity-legendary-color: #b180dd;

.hubicon {
  &:hover, *:hover &, &:active, *:active & {
    text-decoration: none;
  }

  &.colored {
    &.hubicon-human { color: @human-color; }
    &.hubicon-norn { color: @norn-color; }
    &.hubicon-charr { color: @charr-color; }
    &.hubicon-sylvari { color: @sylvari-color; }
    &.hubicon-asura { color: @asura-color; }
    &.hubicon-warrior { color: @warrior-color; }
    &.hubicon-guardian { color: @guardian-color; }
    &.hubicon-revenant { color: @revenant-color; }
    &.hubicon-thief { color: @thief-color; }
    &.hubicon-ranger { color: @ranger-color; }
    &.hubicon-engineer { color: @engineer-color; }
    &.hubicon-mesmer { color: @mesmer-color; }
    &.hubicon-elementalist { color: @elementalist-color; }
    &.hubicon-necromancer { color: @necromancer-color; }
    &.hubicon-male { color: @male-color; }
    &.hubicon-female { color: @female-color; }
  }
}

.rarity-junk       { color: @rarity-junk-color;       }
.rarity-basic      { color: @rarity-basic-color;      }
.rarity-fine       { color: @rarity-fine-color;       }
.rarity-masterwork { color: @rarity-masterwork-color; }
.rarity-rare       { color: @rarity-rare-color;       }
.rarity-exotic     { color: @rarity-exotic-color;     }
.rarity-ascended   { color: @rarity-ascended-color;   }
.rarity-legendary  { color: @rarity-legendary-color;  }

html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', sans-serif;
  height: 100%;

  h1 {
    font-weight: normal;
  }
}

a {
  color: @bold-accent;

  &:hover, &:focus, &:active {
    color: lighten(@bold-accent, 10%);
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-top: 70px;
  padding-bottom: 4em;
}

.navbar.navbar-default {
  background: @bold-accent none;
  color: @bold-accent-secondary;
  border-width: 0;

  .navbar-form {
    float: left;
  }

  .navbar-right {
    margin-right: 0;
  }

  .navbar-user-section {
    text-align: right;

    > a {
      margin: 0;
      padding: 5px;
      display: inline-flex;

      div {
        height: 40px;

        > span.user-section-line {
          display: block;
          height: 20px;
          line-height: 20px;
        }

        > .glyphicon-triangle-bottom {
          line-height: 40px;
          padding-left: 1em;
          font-size: 70%;
        }
      }
    }
  }

  li {
    a, span {
      color: @bold-accent-secondary;

      &:hover, &:focus {
        color: @bold-accent-secondary;
      }
    }

    a:hover, a.active {
      background-color: lighten(@bold-accent, 10%);
    }
  }

  .navbar-nav > .open > a {
    &, &:hover, &:focus {
      background-color: lighten(@bold-accent, 10%);
    }
  }

  .dropdown-menu {
    background-color: @bold-accent-border;
    padding: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
  }
}

.progress {
  margin-bottom: 0;

  + .progress-legend {
    text-align: center;
    display: block;
    width: 100%;
  }
}

footer {
  background-color: @bold-accent;
  color: @bold-accent-secondary;
  padding: 1.25em;
  line-height: 1.5em;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4em;
}

.panel-default {
  > .panel-heading {
    color: @bold-accent-secondary;

    h2 {
      margin: 0;
      font-size: 160%;
      text-align: center;
      font-variant: small-caps;
    }
  }
}

.main-big-nav {
  button {
    display: block;
    width: 20em;
    padding: 1em;
    font-size: 16pt;
    color: black;
    border: 1px solid gray;
    background-color: lightblue;
    margin: -1px auto 0;

    &:first-child {
      border-top-left-radius: .5em;
      border-top-right-radius: .5em;
    }
    &:last-child {
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;
    }
  }
}

#account_ap_total {
  font-size: 250%;
}
#account_ap_breakdown {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#account_medals .row > div {
  text-align: center;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 45px 45px;
  min-height: 45px;
  font-size: 80%;

  &.rank-0 {
    text-decoration: line-through;
    color: #999;

    .rank-icon {
      color: #999;
    }
  }

  .rank-icon {
    float: left;
    height: 45px;
    width: 45px;
    text-align: center;
    display: inline-block;
    font-size: 400%;
    line-height: 45px;
  }
}

#main_box_account {
  .section h2 {
    font-size: 110%;
    border-bottom: 1px solid black;
  }
}

.coin {
  .coin-gold .hubicon   { color: #d3a222; }
  .coin-silver .hubicon { color: #8d8d8d; }
  .coin-copper .hubicon { color: #80211d; }
}

.latest-screen {
  width: 100%;
}

.latest-ap {
  .latest-ap-title {
    margin: 0;
  }
  .latest-ap-box {
    float: left;
    width: 6em;
    height: 6em;
    position: relative;
    border: 1px solid gray;

    .latest-ap-tier, .latest-ap-value {
      position: absolute;
      font-size: 75%;
      letter-spacing: -1px;
      text-align: center;
      display: block;
      width: 100%;
    }
    .latest-ap-tier {
      top: 0;
    }
    .latest-ap-value {
      bottom: 0;
    }
  }

  .latest-ap-points {
    float: right;
  }

  .latest-ap-flavor {
    font-style: italic;
  }
}

#account_ap, #account_bonuses {
  p {
    margin: 0;
  }
}

#main_box_tagcloud .tag {
  margin: 0 .5em;
}

.gallery-nav-panel {
  text-align: center;
}

.gallery-item-container {
  padding: 0;

  .gallery-item {
    margin: .5em;
    border: 1px solid @bold-accent-border;
    position: relative;

    a {
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    span {
      display: block;
      padding: 0 .5em;
      font-size: 85%;

      &.gallery-item-name {
        background-color: @bold-accent;
        color: @bold-accent-secondary;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.navtree_branch {
  .navtree_root > & {
    .panel;
    .panel-default;
    padding: .25em;
    margin: 0 -15px;
  }


  .navtree_toggler {
    cursor: pointer;
  }

  .navtree_children {
    margin-left: 1.25em;
  }

  .navtree_title {
    position: relative;
    padding: 0 .5em;

    .navtree_count {
      float: right;

      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }

    a {
      color: black;
    }
  }

  .navtree_active > .navtree_title {
    background-color: @bold-accent;
    color: @bold-accent-secondary;
    border-radius: .5em;

    a {
      color: white;
    }
  }
}

.media-overlay {
  padding: 40px 5px 5px 5px;

  .modal-dialog {
    @media (min-width: @screen-lg-min) {
      width: @screen-lg - 30px;
    }
    @media (max-width: @screen-md-max) and (min-width: @screen-md-min) {
      width: @screen-md - 30px;
    }
    @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
      width: @screen-sm - 30px;
    }

    position: relative;

    .modal-content {
      border-radius: 0;
      box-shadow: none;
      border: 1px solid @bold-accent-border;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: auto;

      .modal-body {
        width: 100%;
        height: 100%;
        padding: 0;
      }

      .overlay-display {
        width: 75%;
        min-height: 150px;
        text-align: center;

        @media (max-width: @screen-sm-max) {
          width: auto;
          min-height: 0;
        }

        img, video {
          max-width: 100%;
          max-height: 100%;
        }

        font-size: 0.1pt;
      }

      .overlay-data {
        background-color: @bold-accent;
        color: @bold-accent-secondary;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        max-height: 100%;
        width: 25%;
        overflow: auto;

        @media (max-width: @screen-sm-max) {
          position: relative;
          width: auto;
          height: auto;
          max-height: none;
        }

        a {
          color: @bold-accent-secondary;
          cursor: pointer;

          &:hover {
            color: @bold-accent-secondary;
          }
        }

        .overlay-close {
          font-size: 20pt;

          &:hover {
            text-decoration: none;
          }
        }

        h3 {
          margin: 0;
          padding: .25em;

        }

        > div {
          padding: .25em;
        }
      }

    }
  }

}

.media-container {
  background-color: @bold-accent;
  width: 100%;
  text-align: center;
  border: 1em solid @bold-accent;
  margin-top: -1.5em;

  img, video {
    max-width: 100%;
  }
}

.media-main-asides {
  @media (min-width: @screen-sm-min) {
    font-size: 125%;
    margin-top: -2.5em;

    > span {
      display: block;
    }
  }
}
.media-tag {
  color: #777;

  &.last {
    color: black;
  }
}

.big-links {
  > a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 110%;
    padding: .5em 0;
    color: black;

    > div {
      flex-basis: 100%;

      span {
        display: block;

        &.title {}
        &.desc {
          font-size: 80%;
        }
      }
    }

    > span {
      flex-basis: 25px;
    }

    &:hover, &:focus {
      text-decoration: none;
      color: @bold-accent;
    }

    + a {
      border-top: 1px solid @bold-accent;
    }
  }
}

.user-name-tag {
  .glyphicon {
    margin-right: .25em;
    font-size: 85%;
  }
}

/* ui-select color fixes */
.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: @bold-accent;
  color: @bold-accent-secondary;
}
.btn-default-focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px fade(@bold-accent, 60%);
}

@media (min-width: @screen-sm-min) {
  span.form-padded-value {
    padding: (@padding-base-vertical + 1) 0;
    display: block;
  }
}

.alert {
  border-width: 1px 1px 1px 4em;
  border-color: @bold-accent-border;
  background-color: white;
  color: black;
  position: relative;

  .alert-icon {
    .glyphicon;
    font-size: 150%;
    line-height: 0;
    color: white;
    position: absolute;
    left: -1.75em;
    top: 50%;
  }

  &.alert-success .alert-icon {
    .glyphicon-ok-circle;
  }

  &.alert-danger .alert-icon {
    .glyphicon-remove-circle;
  }

  &.alert-info .alert-icon {
    .glyphicon-info-sign;
  }

  &.alert-warning .alert-icon {
    .glyphicon-warning-sign;
  }
}

.tag-id-badge {
  position: absolute;
  right: 1.5em;
  color: #888;

  &.inline {
    position: relative;
    right: 0;
    float: right;
    margin-left: .25em;
  }

  &:before {
    content: '(ID ';
  }
  &:after {
    content: ')';
  }
}

.list-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: .5em;

  > div {
    flex-shrink: 0;
    flex-grow: 1;
    padding: .5em;
  }

  .filters-search {
    flex-grow: 2;
  }

 .list-filter-icon {
   cursor: pointer;
   font-size: 200%;
   position: relative;
   margin: 8px 0 -8px 0;

   &.muted {
     color: #ccc;
   }
 }
}

.list-pagination {
  text-align: center;
}

.character-list-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > div {
    flex-basis: 100%;

    a.character-name {
      font-size: 140%;
      font-weight: 700;
      display: block;
    }
  }

  ul.character-details {
    display: inline;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:after { content: '·'; }
      &:last-child:after { content: ''; }
    }
  }

  .level {
    font-size: 300%;
    flex-shrink: 0;
    flex-basis: 3em;
    padding: 0 .5em;
    text-align: right;

    .level-label {
      font-size: 50%;
    }
  }

  .hubicon-huge {
    font-size: 500%;
    position: relative;
    top: 10px;
    flex-basis: 80px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    cursor: default;
  }

  .hubicon-attach-to-next {
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 200%;
    position: relative;
    top: 24px;
    text-shadow: 3px  0px 0px white,
                -3px  0px 0px white,
                 0px  3px 0px white,
                 0px -3px 0px white,
                 2px  2px 0px white,
                -2px  2px 0px white,
                -2px -2px 0px white,
                 2px -2px 0px white;
    z-index: 100;
    cursor: default;
  }
}

.item-container {
  width: 66px;
  height: 66px;
  display: inline-block;
  float: left;
  position: relative;

  .item-tooltip {
    width: 400px;
    min-height: 1em;
    outline: 1px solid @bold-accent-border;
    position: absolute;
    left: -.25em;
    top: -.25em;
    background-color: @bold-accent;
    text-align: left;
    color: @bold-accent-secondary;
    pointer-events: none;
    z-index: 20;

    .item-icon {
      position: absolute;
      top: .25em;
      left: .25em;
    }

    .item-header {
      margin-left: 70px;
      margin-right: 0;
      min-height: 66px;
      padding: .25em .5em;


      .item-name {
        font-weight: 700;
        font-size: 120%;
      }
    }

    .item-description {
      padding: .25em .5em;
    }

    .item-footer {
      padding: 1em;
      background-color: @bold-accent-border;
    }

    &.item-tooltip-left {
      left: auto;
      right: -.25em;

      .item-icon {
        left: auto;
        right: .25em;
      }
      .item-upgrade .item-icon {
        right: auto;
        left: .25em;
      }

      .item-header {
        margin-left: 0;
        margin-right: 70px;
      }
    }

    .item-upgrade {
      margin: .5em .25em;
      padding: .5em;
      position: relative;
      background-color: @bold-accent-border;
      min-height: 56px;

      .item-upgrade-data {
        margin-left: 55px;
      }

      .item-icon {
        width: 50px;
        height: 50px;

        img {
          width: 48px;
          height: 48px;
        }
      }
    }

    .description-flavor {
      font-style: italic;
      color: #ddf3e9;
    }

    .description-reminder {
      color: #ffb5b7;
    }

    .description-warning {
      color: #ff6e4e;
    }
  }
}

.item-icon {
  width: 66px;
  height: 66px;
  border: 1px solid black;
  position: relative;

  img {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;

    .item-qty-none & {
      opacity: 0.3;
    }

    .user-select(none);
  }
  > img {
    z-index: 10;
  }

  .item-icon-qty {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    line-height: 11pt;
    padding: .125em;
    color: white;
    text-shadow: 2px  0px 0px black,
                -2px  0px 0px black,
                 0px  2px 0px black,
                 0px -2px 0px black,
                 1px  1px 0px black,
                -1px  1px 0px black,
                -1px -1px 0px black,
                 1px -1px 0px black,
                 0px  0px 3px black;
    z-index: 11;
    pointer-events: none;

    .user-select(none);
  }
}

.bank {
  text-align: center;

  .bank-inner {
    border: 1px solid @bold-accent-border;
    .clearfix();
    display: inline-block;

    background-color: #222;

    item-icon:nth-of-type(10n+1) .item-container {
      @media (min-width: @screen-sm-min) {
        clear: both;
      }
    }
  }
}

.chatlink {
  font-family: "Droid Mono", monospace;
}

.dyes {
  .clearfix;
}

.dye-container {
  display: inline-block;
  width: 80px;
  height: 80px;
  float: left;
  border: 1px solid black;
  margin-left: -1px;
  margin-top: -1px;

  .dye-color {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dye-marker {
      font-size: 250%;
      text-shadow: 2px  0px 0px black,
                  -2px  0px 0px black,
                   0px  2px 0px black,
                   0px -2px 0px black,
                   1px  1px 0px black,
                  -1px  1px 0px black,
                  -1px -1px 0px black,
                   1px -1px 0px black;

      &.glyphicon-ok {
        color: #94f373;
        padding-left: 3px;
      }
      &.glyphicon-remove {
        color: #f39999;
      }
    }

    .dye-name {
      background-color: rgba(0,0,0,0.5);
      color: white;
      padding: .125em;
      display: block;
      text-align: center;
      font-size: 70%;
    }
  }
}

.pagination {
  > li {
    > span, > a {
      border-color: @bold-accent-light;
      color: @bold-accent;

      &:hover, &:focus {
        background-color: lighten(@bold-accent, 10%);
        border-color: @bold-accent-light;
        color: @bold-accent-secondary;
      }
    }
  }
  > .active {
    > span, > a {
      &, &:hover, &:focus {
        background-color: @bold-accent;
        color: @bold-accent-secondary;
        border-color: @bold-accent-light;
      }
    }
  }
  > .disabled {
    > span, > a {
      &, &:hover, &:focus {
        border-color: @bold-accent-light;
        color: @bold-accent-light;
      }
    }
  }
}

.list-group-item-heading {
  margin-bottom: 0;
  background-color: @bold-accent;
  color: @bold-accent-secondary;
  font-weight: 700;
  border-bottom-width: 0;
}

.users-list {
  .list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 0;

    div {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}

.dialog-overlay {
  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    background-color: @bold-accent;
    color: @bold-accent-secondary;
    border-bottom-color: @bold-accent-light;
  }

  .modal-footer {
    border-top-color: @bold-accent-light;
  }
}
