@import '../../bower_components/bootstrap/less/bootstrap.less';

@icon-font-path: "static/";

@font-face {
  font-family: 'GW2 Hub Symbols';
  src: url('static/hubsymbols.ttf');
}

@bold-accent: #9d1011;
@bold-accent-secondary: #ffffff;
@bold-accent-border: darken(@bold-accent, 10%);

@gold-color: #d3a222;
@silver-color: #8d8d8d;
@copper-color: #80211d;
@karma-color: #6e0ea0;

html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', sans-serif;
  height: 100%;

  h1 {
    font-weight: normal;
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-top: 70px;
  padding-bottom: 4em;
}

.navbar.navbar-default {
  background: @bold-accent none;
  color: @bold-accent-secondary;
  border-width: 0;

  .navbar-form {
    float: left;
  }

  .navbar-user-section {
    text-align: right;
    height: 40px;
    padding: 5px;

    > span {
      display: block;
      height: 20px;
      line-height: 20px;
    }
  }

  li {
    a, span {
      color: @bold-accent-secondary;

      &:hover, &:focus {
        color: @bold-accent-secondary;
      }
    }

    a:hover {
      background-color: lighten(@bold-accent, 10%);
    }
  }
}

.progress {
  margin-bottom: 0;

  + .progress-legend {
    text-align: center;
    display: block;
    width: 100%;
  }
}

footer {
  background-color: @bold-accent;
  color: @bold-accent-secondary;
  padding: 1.25em;
  line-height: 1.5em;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4em;
}

.panel-default {
  border-color: @bold-accent-border;

  > .panel-heading {
    background: @bold-accent none;
    color: @bold-accent-secondary;

    h2 {
      margin: 0;
      font-size: 160%;
      text-align: center;
      font-variant: small-caps;
    }
  }
}

.main-big-nav {
  button {
    display: block;
    width: 20em;
    padding: 1em;
    font-size: 16pt;
    color: black;
    border: 1px solid gray;
    background-color: lightblue;
    margin: -1px auto 0;

    &:first-child {
      border-top-left-radius: .5em;
      border-top-right-radius: .5em;
    }
    &:last-child {
      border-bottom-left-radius: .5em;
      border-bottom-right-radius: .5em;
    }
  }
}

#account_ap_total {
  font-size: 250%;
}
#account_ap_breakdown {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

#account_medals .row > div {
  text-align: center;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 45px 45px;
  min-height: 45px;
  font-size: 80%;

  &.rank-0 {
    text-decoration: line-through;
    color: #999;

    .rank-icon {
      color: #999;
    }
  }

  .rank-icon {
    float: left;
    height: 45px;
    width: 45px;
    text-align: center;
    display: inline-block;
    font-size: 500%;
    font-family: 'GW2 Hub Symbols';
    line-height: 45px;
  }
}

#main_box_account {
  .section h2 {
    font-size: 110%;
    border-bottom: 1px solid black;
  }
}

#account_medal_priory   .rank-icon:before { content: '\e002'; }
#account_medal_vigil    .rank-icon:before { content: '\e003'; }
#account_medal_whispers .rank-icon:before { content: '\e004'; }

// temp
#account_medal_pvp       .rank-icon:before { content: '\e001'; }
#account_medal_legendary .rank-icon:before { content: '\e001'; }
#account_medal_wvw       .rank-icon:before { content: '\e001'; }
#account_medal_world     .rank-icon:before { content: '\e001'; }

.coin {
  .coin-gold:after   { .hub-icon; content: '\e005'; color: #d3a222; }
  .coin-silver:after { .hub-icon; content: '\e005'; color: #8d8d8d; }
  .coin-copper:after { .hub-icon; content: '\e005'; color: #80211d; }
}

.hub-icon {
  font-family: 'GW2 Hub Symbols';
}
.coin-icon:before  { content: '\e005'; }
.karma-icon:before { content: '\e006'; }
.xp-icon:before    { content: '\e007'; }
.mf-icon:before    { content: '\e008'; }

.latest-screen {
  width: 100%;
}

.latest-ap {
  .latest-ap-title {
    margin: 0;
  }
  .latest-ap-box {
    float: left;
    width: 6em;
    height: 6em;
    position: relative;
    border: 1px solid gray;

    .latest-ap-tier, .latest-ap-value {
      position: absolute;
      font-size: 75%;
      letter-spacing: -1px;
      text-align: center;
      display: block;
      width: 100%;
    }
    .latest-ap-tier {
      top: 0;
    }
    .latest-ap-value {
      bottom: 0;
    }
  }

  .latest-ap-points {
    float: right;
  }

  .latest-ap-flavor {
    font-style: italic;
  }
}

.ap-icon:after {
  font-family: 'GW2 Hub Symbols';
  content: '\e001';
}

#account_ap, #account_bonuses {
  p {
    margin: 0;
  }
}

#main_box_tagcloud .tag {
  margin: 0 .5em;
}

.gallery-nav-panel {
  text-align: center;
}

.gallery-item-container {
  padding: 0;

  .gallery-item {
    margin: .5em;
    border: 1px solid @bold-accent-border;
    position: relative;

    a {
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    span {
      display: block;
      padding: 0 .5em;
      font-size: 85%;

      &.gallery-item-name {
        background-color: @bold-accent;
        color: @bold-accent-secondary;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.navtree_branch {
  .navtree_root > & {
    .panel;
    .panel-default;
    padding: .25em;
    margin: 0 -15px;
  }


  .navtree_toggler {
    cursor: pointer;
  }

  .navtree_children {
    margin-left: 1.25em;
  }

  .navtree_title {
    position: relative;
    padding: 0 .5em;

    .navtree_count {
      float: right;

      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }

    a {
      color: black;
    }
  }

  .navtree_active > .navtree_title {
    background-color: @bold-accent;
    color: @bold-accent-secondary;
    border-radius: .5em;

    a {
      color: white;
    }
  }
}

.media-overlay {
  padding: 40px 5px 5px 5px;

  .modal-dialog {
    @media (min-width: @screen-lg-min) {
      width: @screen-lg - 30px;
    }
    @media (max-width: @screen-md-max) and (min-width: @screen-md-min) {
      width: @screen-md - 30px;
    }
    @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
      width: @screen-sm - 30px;
    }

    position: relative;

    .modal-content {
      border-radius: 0;
      box-shadow: none;
      border: 1px solid @bold-accent-border;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: auto;

      .modal-body {
        width: 100%;
        height: 100%;
        padding: 0;
      }

      .overlay-display {
        width: 75%;
        min-height: 150px;
        text-align: center;

        @media (max-width: @screen-sm-max) {
          width: auto;
          min-height: none;
        }

        img, video {
          max-width: 100%;
          max-height: 100%;
        }

        font-size: 0.1pt;
      }

      .overlay-data {
        background-color: @bold-accent;
        color: @bold-accent-secondary;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        max-height: 100%;
        width: 25%;
        overflow: auto;

        @media (max-width: @screen-sm-max) {
          position: relative;
          width: auto;
          height: auto;
          max-height: none;
        }

        a {
          color: @bold-accent-secondary;
          cursor: pointer;

          &:hover {
            color: @bold-accent-secondary;
          }
        }

        .overlay-close {
          font-size: 20pt;

          &:hover {
            text-decoration: none;
          }
        }

        h3 {
          margin: 0;
          padding: .25em;

        }

        > div {
          padding: .25em;
        }
      }

    }
  }

}

.media-container {
  background-color: @bold-accent;
  width: 100%;
  text-align: center;
  border: 1em solid @bold-accent;
  margin-top: -1.5em;

  img, video {
    max-width: 100%;
  }
}

.media-main-asides {
  @media (min-width: @screen-sm-min) {
    font-size: 125%;
    margin-top: -2.5em;

    > span {
      display: block;
    }
  }
}
.media-tag {
  color: #777;

  &.last {
    color: black;
  }
}

.big-links {
  > a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 110%;
    padding: .5em 0;
    color: black;

    > div {
      flex-basis: 100%;

      span {
        display: block;

        &.title {}
        &.desc {
          font-size: 80%;
        }
      }
    }

    > span {
      flex-basis: 25px;
    }

    &:hover, &:focus {
      text-decoration: none;
      color: @bold-accent;
    }

    + a {
      border-top: 1px solid @bold-accent;
    }
  }
}

.user-name-tag {
  .glyphicon {
    margin-right: .25em;
    font-size: 85%;
  }
}
